name: .NET Build and Test

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - release/*
    paths:
      - '**.csproj'
      - '**.cs'
      - '**./Directories.Build.props'
      - '.github/workflows/test.yaml'

permissions:
  contents: read

env:
  DOTNET_VERSION: '10.0.x'

jobs:
  # run standard tests
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: dotnet restore 

      - name: Build
        run: dotnet build --no-restore

      - name: Run tests
        run: dotnet test --no-build --verbosity normal

  # run examples code with packed package
  test-examples:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: dotnet restore 

      - name: Build
        run: dotnet build --no-restore -c Release

      - name: Packing the package
        run: |
          dotnet pack -c Release -o nupkg
          
      - name: Test Qudi.Example.Readme (Copy)
        run: |
          mkdir -p tmp/Qudi.Example.Readme
          cp -r examples/Qudi.Example.Readme/* tmp/Qudi.Example.Readme
          cd tmp/Qudi.Example.Readme
          dotnet add package Qudi --source ../../nupkg --prerelease
          dotnet add package Qudi.Visualizer --source ../../nupkg --prerelease
          dotnet run
